<div class='bg-slate-100 dark:bg-slate-800'>
    <div
        class='flex flex-col justify-center items-center bg-slate-100 dark:bg-slate-800'
    >
        <h2
            class='text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white text-shadow mb-2'
        >
            Da el primer paso
        </h2>
        <p
            class='mt-6 text-gray-800 [&>strong]:font-semibold dark:text-gray-300'
        >
            Acá comienza el camino para hacer <strong
                class='text-green-500 dark:text-green-400'
                >crecer tu negocio</strong
            >. <strong class='text-white'>¡No esperes más!.</strong>
        </p>
    </div>
    <!-- Calendly inline widget begin -->
    <div
        class='calendly-inline-widget bg-slate-100 dark:bg-slate-800'
        data-url='https://calendly.com/landing-fitnessweb/30min?primary_color=008c05'
        style='min-width:320px;height:700px;'
    >
    </div>
    <script
        type='text/javascript'
        src='https://assets.calendly.com/assets/external/widget.js'
        async
    ></script>
    <!-- Calendly inline widget end -->
</div>
