---

---

<section class='flex flex-col justify-center items-center'>
    <h1
        class='text-3xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white text-shadow mb-2'
    >
        ¿Cómo trabajamos?
    </h1>
    <p
        class='mb-10 text-center text-lg text-gray-800 [&>strong]:text-green-500 [&>strong]:font-semibold dark:text-gray-300'
    >
        Paso a paso te explico como voy a <strong
            >hacer crecer tu negocio</strong
        > para llevarlo al siguiente nivel.
    </p>

    <ol class='relative border-s border-gray-200 dark:border-gray-700'>
        <li class='mb-10 ms-4'>
            <div
                class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Paso 1</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Entender
            </h3>
            <p
                class='mb-4 text-base font-normal text-gray-500 dark:text-gray-400'
            >
                Tendremos una reunión exploratoria para conocer mejor tu negocio
                y contarte en mayor profundidad sobre nuestros servicios y cómo
                se adaptarían a tus necesidades.
            </p>
        </li>
        <li class='mb-10 ms-4'>
            <div
                class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Paso 2</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Planificar
            </h3>
            <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
                Cada proyecto es único, por eso te ofrecemos una propuesta 100%
                personalizada que revisaremos en una reunión posterior para
                afinar todos los detalles.
            </p>
        </li>
        <li class='mb-10 ms-4'>
            <div
                class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Paso 3</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Comenzar
            </h3>
            <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
                Una vez sentadas las bases de tus ideas, como las vamos a llevar
                a cabo y conociendo a fondo tu marca personal, es hora de
                empezar inmediatamente con tu proyecto para hacerlo realidad.
            </p>
        </li>
        <li class='ms-4'>
            <div
                class='absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700'
            >
            </div>
            <time
                class='mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'
                >Paso 4</time
            >
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>
                Presentación previa y final
            </h3>
            <p class='text-base font-normal text-gray-500 dark:text-gray-400'>
                Antes de la entrega final tendremos una puesta en común de los
                avances que se obtuvieron con el fin de confirmar el buen
                camino. Una vez aprobado continuamos hacia el fin del proyecto y
                su entrega.
            </p>
        </li>
    </ol>
</section>
