---
import '@fontsource-variable/onest'
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'
import WhatsApp from '@/icons/WhatsApp.astro'

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content={description}
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class='bg-slate-100 dark:bg-slate-800'>
		<Navbar />
		<slot />
		<div class='fixed bottom-4 right-4 z-50'>
			<a
				href='https://wa.me/+5491134709711?text=Hola%20me%20gustaría%20obtener%20más%20información%20sobre%20tus%20servicios'
				target='_blank'
			>
				<WhatsApp class='h-14 w-14' />
			</a>
		</div>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		scroll-padding-top: 5rem;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
